:root {
    margin: 0px;
    padding: 0px;
    border: 0px;
}

/* Light mode styles */
.light-mode {
    background-color: #ffffff;
    color: #333333;
}

/* Dark mode styles */
.dark-mode {
    background-color: #333333;
    color: #ffffff;
}

body {
    margin: 0;
    padding: 0;
    background-image: url('https://wallpapercave.com/wp/PyO6z3T.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
}

/* we will add more once we make the css */
