@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Libre+Baskerville&family=PT+Serif&family=Roboto+Slab:wght@100;400&family=Space+Mono&display=swap');

:root {
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Libre Baskerville', serif;
    font-family: 'PT Serif', serif;
    font-family: 'Roboto Slab', serif;
    font-family: 'Space Mono', monospace;
    margin: 0px;
    padding: 0px;
    border: 0px;
    color:#6495ED;
}

/* Light mode styles */
.light-mode {
    background-color: #ffffff;
    color: orange;
}

/* Dark mode styles */
.dark-mode {
    background-color: rgb(25, 25, 31);
    color: orange;
}

body {
    margin: 0;
    padding: 0;
    background-image: url('https://wallpapercave.com/wp/PyO6z3T.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
}

header{
    background-color: rgb(25, 25, 31);
    display:inline-block;
    margin:20px;
    padding:0px;
    border: 2px solid black;
    width:95%;
}

header h1{
    text-align: center;
    font-size:50px;
}

#themeTog{
    background-color:rgb(25, 25, 31);
    display:inline-block;
    margin:10px;
    padding:20px;
    border: 2px solid black;
    float: right;


}

#modalTog{
    background-color:rgb(25, 25, 31);
    display:inline-block;
    margin:auto;
    margin-left:18px;
    padding:15px;
    border: 2px solid black;
    float: left;
}
/* we will add more once we make the css */
/* ! Modal styling */
#modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
}

.apod-input {
    position: absolute;
    font-size:normal;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    border:3px solid grey;
}

.apod-input h2{
    font-size:larger;
    margin:0px;
    padding:5px;
    border-top:2px solid grey;
    border-left:2px solid grey;
    border-right:2px solid grey;

}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

#calendar{
    margin:auto;
    padding:5px;
    border-bottom:2px solid grey;
    border-left:2px solid grey;
    border-right:2px solid grey;
}


#submit-button {
    border: 2px solid black;
    margin-left: 20px;
}

img{
align-items: center;
justify-content: space-around;
justify-content:center;
}

.gameContainer {
 background-color: rgb(25, 25, 31);
 margin: 5%;
 height: 600px;
 display: flex;
 flex-direction: row;
}

.gameButton {
    font-size: xx-large;
    background: beige;
}

.gameImageContainer {
    border: solid 1px red;
    max-height: 550px;
    max-width: 550px;
    overflow: hidden;
}

.gameImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;

}

.stylingDiv{
height:1000px;
width:1000px;
display:block;
text-align:center;
justify-content:center;
}



.mainApod{
    top:0px;
    left:0px;
    height:50%;
    width:60%;
    margin:auto;
    padding:5px;
    float:left;
}

#apod-output{
    margin:auto;
    text-align:center;
    justify-content:center;

}
